html{
    font-family: 'Public Sans', sans-serif;
}

main{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.pinturas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura{
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura:hover{
    border: 5px solid rebeccapurple;
    cursor: pointer;
}

.pinturas .pintura img{
    width: 100%;
}

.pinturas .pintura .informacoes{
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .titulo{
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .subtitulo{
    font-weight: 300;
    font-size: 17px;
}